# ============= XAMARIN ============= #
ExamPrepper/bin/
ExamPrepper/obj/
*.user
*.userprefs
*.suo
.DS_Store

# =========== SUBLIME TEXT ========== #
*.sublime-project
*.sublime-workspace
*.tags
*.tags_sorted_by_file